.app-header {
	width: 100%;
	padding: 10px var(--standard-side-padding);
	display: grid;
	grid-template-columns: max-content 1fr max-content;
	justify-items: flex-end;
	align-items: center;
	grid-column-gap: 10px;
}

.app-header__title {
	font-family: var(--basic-font);
	font-size: var(--heading-xxlarge-size);
	font-weight: var(--heading-xxlarge-weight);
	line-height: var(--heading-xxlarge-line-height);
	color: var(--main-text-color);
}

.app-header__login-btn {
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	align-items: center;
	gap: 2px;

	padding: 4px 8px;
	background-color: transparent;
	border: none;
	border-radius: 5px;
	cursor: pointer;

	font-family: var(--basic-font);
	font-size: 24px;
	font-weight: var(--label-large-weight);
	line-height: var(--label-large-line-height);
	color: var(--main-text-color);
}

.app-header__login-btn > svg {
	fill: var(--main-text-color);
}

.app-header__login-btn:hover > svg {
	fill: var(--primary);
}
